{
  "extends": "airbnb",
  "rules": {
    "no-use-before-define": ["error", { "functions": false }],
    "no-param-reassign": 0
  },
  "globals": {
    "suite": true,
    "test": true,
    "assert": true
  }
}
